<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="decorators/theme">
	
<head>
<title>Aduan</title>
<style layout:fragment="style">

</style>
</head>
<body>
	<div layout:fragment="content">
		<form id="viewComplaint" method="POST" action="administration/sla/save"
			th:object="${complaintForm}">
           <input type="hidden" id="id" th:field="*{id}" />
            <input type="hidden" id="assignmentId" th:field="*{assigmentId}" />
           <input type="hidden" id="ticketTitle" th:field="*{ticketTitle}" />
           <input type="hidden" id="description" th:field="*{description}" />
<!--  input type="hidden" id="ticketId" th:field="*{id}"  /-->
<div class="row-fluid">
                            
                           
                            <div class="span12">
                                <div class="block">
                                    <div class="head">
                                        <h2>Maklumat Aduan</h2>                                        
                                    </div>
                                    <div class="content np">
                           <div class="controls-row">
								<div class="span2">Aduan Oleh :</div>
								<div class="span10">
									 <address>
                                        <strong th:text="${complaintForm.profile.name}"></strong><br/>
                                       <span th:text="${complaintForm.profile.address1}" th:if="${complaintForm.profile.address1 !=null}"></span><br th:if="${complaintForm.profile.address1 !=null}"/>
                                       <span th:text="${complaintForm.profile.address2}" th:if="${complaintForm.profile.address2 !=null}"></span><br th:if="${complaintForm.profile.address2 !=null}"/>
                                       <span th:text="${complaintForm.profile.city}" th:if="${complaintForm.profile.city !=null}"></span> <span th:text="${complaintForm.profile.state.name}" th:if="${complaintForm.profile.state != null}"></span><br th:if="${complaintForm.profile.state != null  or complaintForm.profile.city !=null}"/>
                                        <abbr title="Telephone No" th:if="${complaintForm.profile.phoneNo != null}">Tel No : </abbr> <span th:text="${complaintForm.profile.phoneNo}" th:if="${complaintForm.profile.phoneNo != null}"></span><br th:if="${complaintForm.profile.phoneNo != null}"/>
                                        <abbr title="Mobile No" th:if="${complaintForm.profile.mobileNo !=null}">Mobile No : </abbr> <span th:text="${complaintForm.profile.mobileNo}" th:if="${complaintForm.profile.mobileNo !=null}"></span><br th:if="${complaintForm.profile.mobileNo !=null}"/>
                                        <abbr title="Email" th:if="${complaintForm.profile.email !=null}">Email : </abbr> <span th:text="${complaintForm.profile.email}" th:if="${complaintForm.profile.email !=null}"></span>
                                    </address>
								</div>
							</div>
                            <div class="controls-row">
								<div class="span2">Tarikh :</div>
								<div class="span10">
									<span th:text="${#dates.format(complaintForm.createDate, 'dd/MM/yyyy HH:mm a')}">10/12/2013 3:00 am</span>
								</div>
							</div>
                            
                            <div class="controls-row">
								<div class="span2">Tajuk :</div>
								<div class="span10">
									<strong> <span th:text="${complaintForm.ticketTitle}"></span> (<span th:text="${complaintForm.id}"></span>)</strong>
								</div>
							</div>
							<div class="controls-row">
								<div class="span2">Keterangan :</div>
								<div class="span10">
								    <span th:text="${complaintForm.description}"></span>
								</div>
							</div>
							<div class="controls-row">
								<div class="span2">Tindakan diambil pengadu :</div>
								<div class="span10">
								    <span th:text="${complaintForm.action}"></span>
								</div>
							</div>

							<div class="controls-row">
								<div class="span2">Lampiran :</div>
								<div class="span10">
									<span id="attachmentList">
									<span th:each="obj,rowstat : ${complaintForm.ticketFiles}" >
									<br th:if="${rowstat.count != 1}" />
									<a th:onclick="'Popup=window.open(\'' +@{/complaint/file/}+${obj[0]}+'\',\'Popup\',\'toolbar=yes,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=420,height=400,left=430,top=23\'); return false;'" th:href="@{/complaint/file/} + ${obj[0]}" th:text="${obj[1]}" ></a>
									</span>
									</span>
								</div>
								
							</div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
             	<div class="row-fluid">
                            
                           
                            <div class="span12">
                                <div class="block">
                                    <div class="head">
                                        <h2>Keterangan Kes</h2>                                        
                                    </div>
                                    <div class="content np">
                                    
                                <div class="controls-row">
								<div class="span2">Status :</div>
								<div class="span10">
									<span th:text="${complaintForm.status.name}"></span>
	<span class="help-inline" th:if="${complaintForm.lastUpdate !=null}" id="lastUpdate"><span class="text-success" th:text="'Kemaskini terakhir : '+${#dates.format(complaintForm.lastUpdate, 'dd/MM/yyyy HH:mm:ss a')}"></span></span>

								</div>
							</div>
                                    
							
                                    
						<div class="controls-row">
								<div class="span2">Prioriti :</div>
								<div class="span10" >
								<span th:text="${complaintForm.priority.name}"></span>
								<input type="hidden" id="priority" th:field="*{priorityId}"/>
								</div>
								
							</div>
							
							<div class="controls-row">
								<div class="span2">Sumber Aduan :</div>
								<div class="span10" >
								<span th:text="${complaintForm.originator.name}"></span>
								<input type="hidden" id="originator" th:field="*{originatorId}"/>
								</div>
								
							</div>
							
							<div class="controls-row">
								<div class="span2">Kategori Kes :</div>
								<div class="span10">
									<span th:if="${complaintForm.ticketGroup != null}" th:text="${complaintForm.ticketGroup.name}"></span>
									
								</div>
							</div>
							
					
							<!--  div class="controls-row" th:if="${complaintForm.remarks == null}">
								<div class="span2">Case Category:</div>
								<div class="span10">
									<select id="ticketCategory" th:field="*{ticketCategoryId}">
										<option value="">- Select One -</option>
										<option th:each="obj : ${ticketCategoryList}" th:text="${obj.name}" th:value="${obj.id}"></option>	
									</select>
								</div>
							</div -->
							<div class="controls-row" th:if="${complaintForm.remarks != null}">
								<div class="span2">Remarks :</div>
								<div class="span10">
								    <span th:text="${complaintForm.remarks}" ></span>
								</div>
							</div>
							
							<!-- div class="controls-row">
								<div class="span2">Originator :</div>
								<div class="span10">
									<select id="originator" th:field="*{originatorId}">
										<option value="">- Select One -</option>
										<option th:each="obj : ${originatorList}" th:text="${obj.name}" th:value="${obj.id}"></option>	
									</select>
								</div>
							</div-->
					
					
					
					
					 
                                    
                                    <div class="controls-row" sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_SUPPORTER')">
								<div class="span2">Ditugaskan Kepada Jabatan :</div>
								<div class="span10" >
								<span th:text="${complaintForm.department.name}" th:if="${complaintForm.group != null}"></span>
								<input type="hidden" id="group" th:field="*{group}"/>
								</div>
								
							</div>
                                    
                                 
							<div class="controls-row" sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_ADMIN','ROLE_MANAGER')">
								<div class="span2">Ditugaskan Kepada :</div>
								<div class="span10">
									<span th:if="${complaintForm.assignee != null}"  th:text="${complaintForm.assignee.name}" ></span>
								</div>
							</div>
							
							   <div class="controls-row" th:if="${complaintForm.assignDate != null}">
								<div class="span2">Ditugaskan Oleh :</div>
								<div class="span10">
									<span th:text="${complaintForm.supervisor.name}"></span>
									
								</div>
							</div>
							<div class="controls-row" th:if="${complaintForm.assignDate != null}">
								<div class="span2">Tarikh Ditugaskan :</div>
								<div class="span10">
									<span th:text="${#dates.format(complaintForm.assignDate, 'dd/MM/yyyy HH:mm a')}"></span>
								</div>
							</div>
					
					
                                    
                              <div class="controls-row" id="komen">
								<div class="span2">Komen :</div>
								<div class="span10" >
								   <textarea id="note" wrap="on"></textarea>
								   <!--  span id="chatPost" title="Add Note" style="cursor: pointer; color:#50769E;" class="icon-plus"></span-->
								</div>
								
							</div>   


  <div class=" list_custom" id="chatContent">
                           
                                    
                                    </div>


                                    </div>
                                    
                                     <div class="footer">
                                        <div class="side fr">
                                            
                                        </div>
                                    </div>
                                    
                                    
                                     
                                    
                                </div>
                            </div>
         </div>           
             
             
             
             
		
     
	

			<div class="row-fluid all-area" id="list-area" sec:authorize="hasAnyRole('ROLE_SUPERVISOR','ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORTER')">
				<div class="span12">

					<div class="block">
						<div class="head">
							<h2>Tindakan</h2>
						</div>
					<div class="footer">
	                    <div class="side fr" align="right">
	                        <!-- button type="button" class="btn" id="btn-open-setting">Tindakan</button-->
	                    </div>
		            </div>

						<div class="content np table-sorting">
                        <table id="list-activities" cellpadding="0" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Jenis Aktiviti</th>
									<th>Tarikh</th>
									<th>Keterangan</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>     
							
						</div>

						<!--  div class="footer">
							<div class="side fr">
								<div class="btn-group">
									<button class="btn" type="button"
										onClick="window.history.back();">Close</button>
									<button class="btn btn-primary btn-request" type="submit">Submit</button>
								</div>
							</div>
						</div-->



					</div>

				</div>
			</div>
			
			</form>
			
			
				 <!--div class="row-fluid">
                            
                            <div class="span12">
                                <div class="block">
                                    <div class="head">
                                        <h2>Messages</h2>                                        
                                        <ul class="buttons">
                                            <li><a href="#" class="block_toggle"><span class="i-arrow-down-3"></span></a></li>
                                            <li><a href="#" class="block_remove"><span class="i-cancel-2"></span></a></li>
                                        </ul>                                        
                                                                              
                                    </div>
                                    <div class="content messages npr">
                                        <div class="scroll" id="chatContent" style="height: 180px;">
                                           
                                     
                                              
                                        </div>
                                    </div>
                                    
                                    
                                         <div class="footer">
                                        	<form id="chat" method="POST" action="administration/sla/save" th:object="${chatForm}">
                                        <div class="side npb">
                                            <textarea class="chat_wysiwyg" wrap="on" th:field="*{message}" placeholder="Message..."></textarea> 
                                                               <input type="hidden" id="ticketId" th:field="*{ticketId}"  />                                                                    
                                        </div>
                                        <div class="side fl npt" id="fileList">
                                     
                                        </div>
                                        <div class="side fr npt">

 
 <button class="icon" type="button" title="Add file" id="uploadFile">
<span class="i-link"></span>
</button>
 
 <button class="sendmsg icon" title="Add Photo" id="uploadPic">
<i class="i-pictures-2"></i>
</button>                                          


                                            <button class="btn btn-primary">Send</button>
                                              <div style="overflow: hidden; width: 0px;height: 0px;">
 											 <input name="fileinput" type="file" id="fileinput"/>
 											  <input name="picinput" type="file" id="picinput"/>
											</div>  
											
											
											   
                                        </div>
                                        </form>
                                    </div>
                                    
                                    
                                </div>
                             </div>
             </div-->
			
			
		  <div class="row-fluid">
                            
                            <div class="span12">
                                <div class="block">
			<div class="head">
                                             
                        <div class="side fr">
                         <!--  button type="button" class="btn" id="knowledge" th:if="${complaintForm.statusId == 'CLOSED'}">Transfer to Knowledge Base</button-->
                        <button class="btn btn-warning" id="closeBtn">Tutup</button>  
                        </div>                        
                    </div>
			</div>
			</div>
			</div>	




	    
	    	
	</div>
	<div layout:fragment="modal">
<div id="activityModal" class="modal hide fade" role="dialog" >
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	            <h3>Aktiviti</h3>
	        </div>
	       <div class="modal-body" >
       <!-- remote content will be inserted here via jQuery load() -->
          </div>        
</div>


</div>

	<div layout:fragment="javascript_endpage">
		<script type='text/javascript'
			th:src="@{/resources/js/select2/select2.min.js}"></script>
		<script type='text/javascript'
			th:src="@{/resources/js/uniform/jquery.uniform.min.js}"></script>
			
			 <script type='text/javascript' th:src="@{/resources/js/cleditor/jquery.cleditor.min.js}"></script>
    
			
			
		<script type='text/javascript'
			th:src="@{/resources/js/tagsinput/jquery.tagsinput.min.js}"></script>
		<script type='text/javascript'
			th:src="@{/resources/js/multiselect/jquery.multi-select.js}"></script>
		<script type='text/javascript'
			th:src="@{/resources/js/ibutton/jquery.ibutton.min.js}"></script>




		<script type='text/javascript'
			th:src="@{/resources/js/validationengine/languages/jquery.validationEngine-en.js}"></script>
		<script type='text/javascript'
			th:src="@{/resources/js/validationengine/jquery.validationEngine.js}"></script>
		<script type='text/javascript'
			th:src="@{/resources/js/maskedinput/jquery.maskedinput.min.js}"></script>
			
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.dataTables.fnPagingInfo.js}"></script>	
			<script type='text/javascript'
			th:src="@{/resources/js/timepicker/jquery-ui-timepicker-addon.js}"></script>	
			
		<script type='text/javascript'
			th:src="@{/javascript/utils/load-combo-box.js}"></script>
		
		<script type='text/javascript'
			th:src="@{/javascript/case/aForm.js}"></script>
		<script type='text/javascript'
			th:src="@{/javascript/chat.js}"></script>
		
		<script type='text/javascript' th:src="@{/javascript/case/activityView.js}"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				
				$("#closeBtn")
			      .click(function() {
			            //history.back();
			            window.location.replace(document.referrer);
			            return false;
			      });
				
			});
		</script>

	</div>
	
</body>
</html>